/* Default Overrides
=====================================*/
html, body {
  color: #E2E2E2;
  background-color: #eee;
  background-image: url(../img/low_contrast_linen.png);
  /*background-image: url(../img/fabric_plaid.png);*/
  background-repeat: repeat;
  font-family: 'Monda', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #E2D156;
  font-family: 'Finger Paint', cursive;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 24px;
  margin: 1px 20px 0 0;
}

a, a > i {
  color: #E2D156;
}

a:hover, a > i:hover {
  text-decoration: none;
  color: #9C9034;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #5A5A5A;
  border-bottom: 1px solid black;
}

/* Header & Nav
=====================================*/
.navbar-fixed-top {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  font-family: 'Finger Paint', cursive;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  padding: 10px 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #E2D156;
  font-size: 1.3em;
  font-weight: bold;
}

/* Footer 
=====================================*/

footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center; /* center align it with the container */
  background-color: #1B1B1B;
  background-image: -moz-linear-gradient(top,#222,#111);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
  background-image: -webkit-linear-gradient(top,#222,#111);
  background-image: -o-linear-gradient(top,#222,#111);
  background-image: linear-gradient(to bottom,#222,#111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
}

.footer-social i {
  font-size: 24px;
  padding-right: 15px;
  color: #E2D156;
}

.footer-social i:hover {
  color: #9C9034;
}

/* The white background content wrapper */
.content {
  /*background-color: #fff;*/
  padding: 20px;
  margin-top: 40px;
  /*margin: 0 -20px;*/
/*  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
}

.slideshow {
  background-image: url(../img/calgary_skyline.jpg);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0 -20px 10px;
  -webkit-box-shadow: 0 2px 12px 2px rgba(0,0,0,.90);
     -moz-box-shadow: 0 2px 12px 2px rgba(0,0,0,.90);
          box-shadow: 0 2px 12px 2px rgba(0,0,0,.90);
}

.post .date {
  text-align: right;
}

.post .author {
  font-size: 1.2em;
  font-weight: bold;
}

#map > img.thumbnail {
  padding: 10px;
  -webkit-box-shadow: inset 0 0 12px 7px rgba(241, 196, 14, 0.9);
  -moz-box-shadow: inset 0 0 12px 7px rgba(241, 196, 14, 0.9);
  box-shadow: inset 0 0 12px 7px rgba(241, 196, 14, 0.9);
}

.twitter-feed {
  background-color: #141414;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
  padding: 0;
  border: 1px solid #141414 !important;
  min-height: 340px;
}

.twitter-feed h2 {
  text-align: center;
}

.opaque {
  opacity: 0.9;
  padding: 20px;
  margin: 50px;
}
