<div class="container-fluid">
  {{#group}}
  <div class="row-fluid">
    <div class="span12">
      <h1>About Us {{who}}</h1>
      <hr>
  </div>

  <div class="row-fluid">
    <div class="description">
      {{{description}}}
    </div>
  </div>

  <div class="row-fluid">
    <div class="stats">
      <h3>Meet our <span class="bold">{{members}}</span> members</h3>
    </div>
  </div>
  {{/group}}

  <div class="members">
    Loading...
  </div>
</div>