<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>{{who}} doesn't like us right now</h1>
      <hr>
  </div>

  <div class="row-fluid">
    <div class="error">
      <p>{{message}}</p>
      <p>You can find what you need on <a target="_blank" href="{{fallback}}">this page</a> though.</p>
    </div>
  </div>
</div>