<div class="slideshow">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">

        <div class="twitter-feed opaque">
          <div class="title">
            <h2>YYCjs on the Twitters</h2>
            <a class="twitter-timeline" href="https://twitter.com/yycjs" data-widget-id="293905900996009984">Tweets by @yycjs</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="text" title="Upcoming Events">Upcoming Events</h1>
      <hr>
    </div>
  </div>

  <div class="upcoming-events">
    {{#upcoming}}
      {{> views/upcoming_meetup}}
    {{/upcoming}}
  </div>
</div>