{{#members}}
{{#if photo.thumb_link}}
<a href="{{link}}" target="_blank">
  <img class="img-circle member-photo" {{#photo.thumb_link}}src="{{.}}"{{/photo.thumb_link}} alt="{{name}}" title="{{name}}" />
</a>
{{/if}}
{{/members}}