<div class="container-fluid">
	<div class="row-fluid">
	  <div class="span12">
	    <h1>Our Projects</h1>
	    <hr>
	  </div>
	</div>

	{{#projects}}
	<div class="project">
	  <div class="row-fluid">
	    <div class="span12">
	      <h2>{{name}}</h2>
	      <h3>{{description}}</h3>
	    </div>
	  </div>

	  <div class="row-fluid">
	    <div class="description span8">
        {{#if readme}}<p>{{markdown readme}}</p>{{/if}}

	      <ul class="media-list">
	        <li class="media">
	          <i class="icon-github"></i>
	          <a href="{{html_url}}" target="_blank"></i>Github Repo</a>
	        </li>
	        {{#if homepage}}
	        <li class="media">
	          <i class="icon-home-1"></i>
	          <a href="{{homepage}}" target="_blank">Home Page</a>
	        </li>
	        {{/if}}
	      </ul>
	    </div>
	    <div class="span4">
	      <img class="media-object" src="http://placehold.it/200x200">
	    </div>
	  </div>
	</div><!-- ./project -->
	{{/projects}}
</div>